@tailwind base;
@tailwind components;

.min-width-655 {
	min-width: 655px;
}

@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a:visited {
	color: #a667e0;
}

body {
	margin: 0;
	display: flex;
	/*place-items: center;*/
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

a {
	font-weight: 500;
	color: #9ba0fc;
	text-decoration: inherit;
}


/* If the user prefers light mode,
we still enforce color-scheme: dark, despite the user preference */

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: dark;
	}
}

.max-width-655 {
	max-width: 655px;
}


/* ANIMATIONS */
.my-node-enter {
	opacity: 0;
}
.my-node-enter-active {
	opacity: 1;
	transition: opacity 1000ms;
}
.my-node-exit {
	opacity: 1;
}
.my-node-exit-active {
	opacity: 0;
	transition: opacity 200ms;
}

.slide-enter {
	transform: translateY(100%);
}
.slide-enter-active {
	transform: translateY(0%);
	transition: transform 500ms ease-in-out;
}
.slide-exit {
	transform: translateY(0%);
}
.slide-exit-active {
	transform: translateY(200%);
	transition: transform 500ms ease-out;
}
